<a href="https://colab.research.google.com/github/Tarleton-Math/data-science-20-21-hwk01/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Homework 01
## Data Science (masters)
## Math 5364 & 5366, Fall 20 & Spring 21
## Tarleton State University
## Dr. Scott Cook
## Due 2020-08-27

# Setup

1. Create & email your GitHub user name to scook@tarleton.edu
1. Login to github with those credentials
1. Create personal access token & store in secure location (I use Keepass) - https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token
1. Accept invitation to Tarleton-Math group & Data-Science-20-21 team
1. Login to google drive
1. Click link in my email about hwk01 and accept
1. Login to google drive
1. Click git_assignment.ipynb
1. Click "Open in Colab"
1. Set your preferred_path (append /hwk to make a hwk subfolder)
1. Run the first two cells and then allow, authorize, and follow prompts.  This clones the repo with your personal copy of hwk01 to that preferred path in your google drive.
1. In google drive, navagte to this preferred path and double click "main.ipynb"
1. Open with → Google Colaboratory.  If not there, "Connect more apps"
1. Do the homework

To save progress & submit for grading in your github repo, either:
- Use push() in git_assignment.ipynb
    - pushes entire folder, not just main.ipynb - useful if you created or modified other files
- File → Save a copy in Github
    - only pushes main.ipynb
    - may need to authorize, allow private repos, add Tarleton-Math/ in front of your username

In [ ]:
preferred_path = f"My Drive/active/m53646-data-science-20-21/as-student/hwk"   # your preferred google drive path
hwk_num = "01"

import os
import google.colab

root_path = "/content/drive/"
google.colab.drive.mount(root_path)

user = input("Enter your github username ")
your_name = f"data-science-20-21-hwk{hwk_num}"
if user != "drscook" and user != "":
    your_name += f"-{user}"  # appends your username

your_path = os.path.join(root_path, preferred_path, your_name)  # path to folder for your local
%cd "{your_path}"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/
Enter your github username scook4242
/content/drive/My Drive/active/m53646-data-science-20-21/as-student/hwk/data-science-20-21-hwk01-scook4242

# Homework

Consider the famous iris dataset popularized by RA Fisher which contains 4 physical measurements from 150 irises of 3 types: setosa, versicolour, and virginica.  It is available in many many places; I got it here:

https://archive.ics.uci.edu/ml/datasets/Iris

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv("iris.data", names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])
df

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

The questions below can be solved with 1 line of code each.

Pandas is column-oriented, so df['sepal_length'] gets the sepal_length column and df[['sepal_length', 'petal_length']] gets both sepal and petal lengths columns.

### Find the largest sepal_width

### Find the average petal_width

### Create a useful set of summary statistics of sepal_length using .describe()

### Find the standard deviation of all four numeric columns and sort with largest on top using sort_values.

### For each row, sum the 4 measurements; use argument axis=1.

### Because pandas is column-oriented, it is trickier to select rows.  We use .loc[...] to select using names (aka labels) and .iloc[...] to select using position (aka index or integer).

### Find the sepal_length in the 3rd row.  Be careful - python starts indexing at 0.  So the first row is row 0.

### Python uses : to denote ranges and as placeholders using start:stop:offset.  However, be careful b/c ranges are usually left inclusive but right exclusive.  Ex: df.iloc[1:9:2, :] gives all columns of rows 1, 3, 5, and 7 but not 9 because the stop value is NOT included.  Again, 0-based indexing means these are the second, fourth, sixth, and eighth rows.  Print every second row from the 20th through the 30th.

### Python uses negative numbers to select starting at the end and moving backward.  Print the last row.

### Sadly, .loc and iloc are restrictive because we often want to mix indexing methods - select rows by position and columns by name (or conversely).  One solution is to first select columns then rows.  Print the sepal_length and sepal_width columns of the last 4 rows

### CONGRATS - you are done! Go back to git_assignment and push() to your github repo.